div.cookiebanner {
	position: fixed;
	display: flex;
	align-items: center;
	bottom: 0;
	left: 0; right: 0;
	padding: 10px;
	margin: 5px;
	background-color: var(--cookiebanner-background);
	color: var(--cookiebanner-foreground);
	border-radius: 10px;
	z-index: 201;
}

div.cookiebanner > div.cookiedescription {
	flex-grow: 1;
	margin: 0;
	margin-right: auto;
}

div.cookiebanner > button.cookieaccept {
	float: right;
}

@keyframes cookiebannerhide {
	from {
		opacity: 1;
		visibility: visible;
	}
	to {
		opacity: 0;
		visibility: hidden;
	}
}
