div.download {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

div.download > div {
	display: inline-block;
	position: relative;
}


button.download:not(.default) {
	cursor: pointer;
	background-color: var(--download-button-bg);
	color: var(--download-button-fg);
	white-space: nowrap;
	transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

button.download:not(.default):not(.nohover):hover, button.download:not(.default):not(.nohover):focus, button.download:not(.default).dropdown.dropmenushown {
	background-color: var(--download-button-hover-bg);
	color: var(--download-button-hover-fg);
}
