button.dropdown:not(.default)[type="button"] {
	z-index: 3;
	position: relative;
}

button.dropdown:not(.default)[type="button"]::after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	right: 10px;
	transform-origin: center 3px;
	transform: rotate(0deg);
	border: 6px solid transparent;
	border-color: var(--dropdown-button-arrow) transparent transparent transparent;
	transition: transform 1s ease;
}

button.dropdown + div.dropdown {
	position: absolute;
	z-index: 4;
}

button.dropdown + div.dropdown:not(.default) {
	margin: 0;
	padding: 0;
	visibility: hidden;
	background-color: var(--dropdown-popup-bg);
	box-shadow: 0 3px 25px 0 rgba(22, 22, 22, 0.15);
	max-height: 0;
	overflow: hidden;
	transition: max-height 1s ease, visibility 0s linear 1s;
}

button.dropdown + div.dropdown > ul:not(.default) {
	list-style-type: none;
	padding: 1px;
	margin: 0px;
}

button.dropdown + div.dropdown > ul > li:not(.default) {
	padding: 2px;
	cursor: pointer;
	color: var(--dropdown-popup-item-fg);
	background-color: var(--dropdown-popup-item-bg);
	transition: background-color 0.25s ease-out;
}

button.dropdown + div.dropdown > ul > li:not(.default) > :first-child {
	margin: 0;
}

button.dropdown + div.dropdown > ul > li:hover:not(.default), button.dropdown + div.dropdown > ul > li:focus-within:not(.default) {
	color: var(--dropdown-popup-item-hover-fg);
	background-color: var(--dropdown-popup-item-hover-bg);
}

button.dropdown.dropmenushown:not(.default)[type="button"]::after {
	transform: rotate(180deg);
}

button.dropdown.dropmenushown + div.dropdown:not(.default) {
	visibility: visible;
	transition: max-height 1s ease, visibility 0s linear 0s;
}
