div.buttonhovunderlineandreal {
	text-decoration: none;
	display: inline-block;
}

div.buttonhovunderlineandreal:hover {
	text-decoration: underline;
}

div.buttonhovunderlineandreal > button.buttoninfobutton {
	padding: 0;
	font-weight: bold;
	background-color: var(--infobutton-bg);
	width: var(--infobutton-width);
	height: var(--infobutton-height);
	border-radius: var(--infobutton-border-rounding);
	color: var(--infobutton-text);
	border: var(--infobutton-border-width) solid var(--infobutton-border);
	margin-left: 2px;
}


div.buttonhovunderlineandreal:hover > button.buttoninfobutton {
	color: var(--infobutton-hover-text);
	border: var(--infobutton-border-width) solid var(--infobutton-hover-border);
}

div.buttonbackgrounddropdown {
	display: inline-block;
	box-shadow: 0 -0.2em #3daee9 inset;
	transition: 1s;
	padding-right: 28px;
	position: relative;
	cursor: pointer;
	user-select: none;
}

div.buttonbackgrounddropdown::after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	right: 10px;
	transform-origin: center 3px;
	transform: rotate(0deg);
	border: 6px solid transparent;
	border-color: var(--extrabutton-backgrounddropdown-arrow-color) transparent transparent transparent;
	transition: transform 1s ease;
}

div.buttonbackgrounddropdown:hover, div.buttonbackgrounddropdown.dropmenushown {
	box-shadow: 0 -1.25em #3daee944 inset;
}

div.buttonbackgrounddropdown + div.dropdown:not(.default) {
	position: absolute;
	z-index: 2;
	margin: 0;
	padding: 0;
	visibility: hidden;
	background-color: var(--dropdown-popup-bg);
	box-shadow: 0 3px 25px 0 rgba(22, 22, 22, 0.15);
	max-height: 0;
	overflow: hidden;
	transition: max-height 1s ease, visibility 0s linear 1s;
	width: 100%;
}

div.buttonbackgrounddropdown.dropmenushown:not(.default)::after {
	transform: rotate(180deg);
}

div.buttonbackgrounddropdown.dropmenushown + div.dropdown:not(.default) {
	visibility: visible;
	transition: max-height 1s ease, visibility 0s linear 0s;
}
