:root {
	--notfullwidth-remaining: calc(100% - var(--notfullwidth-width));
}

.noborder:not(.default) {
	border: 0;
	border-collapse: collapse;
}

.noborder:not(.margin) {
	margin: 0;
}

.margin {
	margin: 5px;
}

.noborder.withpadding {
	padding: 0;
}

table.centertable:not(.default) {
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

ul.nodots:not(.default) {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.addpad {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.nodistance {
	left: 0;
	right: 0;
}

.flex {
	display: flex;
}

.flexwrap {
	display: flex;
	flex-wrap: wrap;
}

.contentcenter {
	align-content: center;
	justify-content: center;
}

.flexgrow {
	flex-grow: 1;
}

.automargin {
	margin: auto;
}

.bottommargin {
	margin-bottom: 15px;
}

.relative {
	position: relative;
}

.fullwidth {
	width: 100%;
}

.marginlr {
	margin-left: 10px;
	margin-right: 10px;
}

.block {
	display: block;
}

.contentwidth {
	width: max-content;
}

div.relativebox {
	position: relative;
	display: inline-block;
}

.centertext {
	text-align: center;
}

.notfullwidth {
	width: var(--notfullwidth-width);
	margin-left: auto;
	margin-right: auto;
}
