a.icon::before {
	content: "";
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
	height: 1em;
	width: 1em;
}

a.icon-scratch::before {
	background-image: url(https://scratch.mit.edu/favicon.ico);
}

a.icon-python::before {
	background-image: url(https://www.python.org/static/favicon.ico);
}

a.icon-lua::before {
	background-image: url(https://www.lua.org/images/lua-logo.gif);
}

a.icon-minetest::before {
	background-image: url(https://www.minetest.net/media/favicon/194x194.png);
}

a.icon-gitlab::before {
	background-image: url(https://gitlab.com/assets/favicon-7901bd695fb93edb07975966062049829afb56cf11511236e61bcf425070e36e.png);
}

a.icon-debiankaios::before {
	background-image: url(https://cdn2.scratch.mit.edu/get_image/user/53354822_60x60.png);
}

a.icon-codeberg::before {
	background-image: url(https://codeberg.org/assets/img/favicon.svg);
}
