 div#infoboxbg.infobox {
	position: fixed;
	top: 0; left: 0; z-index: 200;
	width: 100%; height: 100%;
	transition: background-color 1s ease-in 0s, visibility 0s linear 1s;
	background-color: rgba(0, 0, 0, 0);
	visibility: hidden;
	text-align: center;
}

div#infoboxbg.infobox ul, div#infoboxbg.infobox ol, div#infoboxbg.infobox dl {
	text-align: left;
}

div#infoboxbg.infobox.infoboxshown {
	transition: background-color 1s ease-out 0s, visibility 0s linear 0s;
	background-color: var(--infobox-behind);
	visibility: visible;
}

div#infoboxbg.infobox > div.infobox {
	position: absolute;
	display: inline-block;
	left: 50%;
	margin: auto; padding: 5px;
	min-width: 20%; min-height: 20%;
	max-width: 90%; max-height: 90%;
	width: auto; height: auto;
	overflow: auto;
	background-color: var(--infobox-bg);
	visibility: hidden;
	top: 0;
	transform: translate(-50%, -100%);
	transition: top 1s ease-in 0s, transform 1s ease-in 0s, visibility 0s linear 1s;
}

div#infoboxbg.infobox.infoboxshown > div.infobox.infoboxshown {
	visibility: visible;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: top 1s ease-out 0s, transform 1s ease-out 0s, visibility 0s linear 0s;
}

div#infoboxbg.infobox > div.infobox > h2.infoboxheader {
	text-align: center;
}

div#infoboxbg.infobox > div.infobox > h2.infoboxheader > button.infoboxclose {
	display: inline-block;
	float: inline-end;
	cursor: pointer;
	font-weight: bold;
	padding: 0;
	width: var(--infobox-close-width); height: var(--infobox-close-height);
	border: var(--infobox-close-border);
	border-radius: var(--infobox-close-rounding);
	color: var(--infobox-close-fg);
	background-color: var(--infobox-close-bg);
	margin: 0;
	margin-left: 5px;
}

div#infoboxbg.infobox > div.infobox > h2.infoboxheader > button.infoboxclose:hover, div#infoboxbg.infobox > div.infobox > h2.infoboxheader > button.infoboxclose:focus {
	color: var(--infobox-close-hover-fg);
	background-color: var(--infobox-close-hover-bg);
	border: var(--infobox-close-hover-border);
}
