ul.linklist {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
}

ul.linklist > li {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	color: white;
	font-weight: 500;
	font-size: 1rem;
	background: var(--linklist-background);
	transition: all 0.5s ease-out;
}

ul.linklist > li:hover {
	background: var(--linklist-hover-bg);
	text-shadow: 1px 1px 1px black, -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black;
}

ul.linklist > li > a {
	display: block;
	width: 100%;
	text-decoration: none;
	padding: 12px 0;
	color: currentColor;
	transition: inherit;
}
