 body:not(.default) {
	margin: 0;
}

#navbar {
	position: fixed;
	top: 0;
	z-index: 100;
	background-color: var(--topnav-inactive-bg);
	width: 100%;
	overflow: hide;
	
	box-shadow: var(--topnav-shadow);
}

#navbar > ul:not(.default) {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navbar > ul > li:not(.default) {
	display: block;
	background-color: var(--topnav-inactive-bg);
	height: 50px;
}

#navbar > ul > li > a:not(.default) {
	color: var(--topnav-inactive-fg);
	text-decoration: none;
	font-size: 26px;
	display: block;
	
	height: 26px;
	padding: 12px;
}

#navbar > ul > li > a:hover:not(.default), #navbar > ul > li.active:not(.default) {
	background-color: var(--topnav-active-bg);
	color: var(--topnav-active-fg);
}

#navbar > ul > li.leftfloat {
	float: left;
}

#navbar > ul > li.rightfloat {
	float: right;
}

#navbar > ul > li > span#navhometext, #navbar > ul > li.menu{
	display: none;
}

#navbar > ul > li > a > img.navbar {
	height: 26px;
}

/* Bei kleinem Bildschirm */
@media screen and (max-width: 900px) {
	/* (Fast) Alles ausblenden */
	#navbar > ul > li.menu {
		display: block;
	}
	
	#navbar > ul > li:not(.smallshow) {
		display: none;
	}
	
	/* Anzeigen, wenn Menü ausgeklappt */
	#navbar.ausgeklappt > ul > li.menu {
		position: absolute;
		right: 0;
		top: 0;
		background-color: var(--topnav-active-bg);
	}
	
	#navbar.ausgeklappt > ul > li {
		display: block;
	}
	
	#navbar.ausgeklappt > ul > li:not(.default) {
		float: none;
		display: block;
		text-align: left;
	}
}
