div.plangboxcontainer {
	display: flex;
	flex-wrap: wrap;
}

div.plangboxcontainer > div {
	padding-bottom: var(--plangbox-bottom-padding, 10px);
	flex-grow: 1;
}

div.plangboxcontainer > div > a:first-child {
	width: 100%;
	height: var(--plangbox-top-height, 75px);
	align-content: center;
	justify-content: center;
	display: flex;
	position: relative;
	margin: 0 0 15px 0;
}

div.plangboxcontainer > div > a:first-child > img {
	max-height: var(--plangbox-img-max-height, 90%);
}
