button.round[type="button"] {
	display: inline-block;
	padding: 10px 2px;
	margin: 0;
	margin-left: 1px;
	border: 0;
}

button.round:not(.start):not(.end) {
	width: 100%;
}

button.round.start[type="button"] {
	border-radius: 200px 0 0 200px;
	margin-left: 0;
	padding-left: 15px;
}

button.round.end[type="button"] {
	border-radius: 0 200px 200px 0;
	padding-right: 15px;
}

button.round.dropdown[type="button"] {
	padding-right: 28px;
}

.roundborder {
	padding: 0;
	padding-left: 1px;
}

.roundborder.start {
	padding: 0;
}

.roundborder > button.round {
	margin-left: 0;
}
