 table.statstable {
	width: 100%;
}

table.statstable tr > td:not(:first-child) {
	text-align: center;
	font-family: var(--font-monospace);
}

table.highscorestats {
	width: 100%;
}

table.highscorestats tr:not(:first-child):not(.summarize) > td:not(:first-child):not(:nth-child(2)) {
	font-family: var(--font-monospace);
	text-align: center;
}

table.highscorestats tr:not(:first-child):not(.summarize) > td:first-child {
	text-align: right;
}

table.highscorestats tr.summarize > td:first-child {
	text-align: left;
}

table.highscorestats tr.summarize > td:not(:first-child) {
	font-family: var(--font-monospace);
	text-align: center;
}
