 div.hastooltip {
	position: relative;
}

/* Default tooltip */
div.hastooltip > span.tooltip:not(.nomax) {
	max-width: 90%;
}

div.hastooltip > span.tooltip {
	visibility: hidden; opacity: 0;
	background-color: var(--tooltip-bg);
	color: var(--tooltip-fg);
	text-align: center;
	border-radius: 6px;
	position: absolute;
	left: 0; right: 0; margin: auto;
	padding: 5px 0;
	z-index: 3;
	transition: opacity 0.3s;
}

div.hastooltip > span.tooltip::after {
	content: "";
	position: absolute;
	left: 50%;
	margin: 0;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
}

/* Top Tooltip (default) */
div.hastooltip > span.tooltip:not(.bottom) {
	bottom: 100%;
	margin-bottom: 5px;
}

div.hastooltip > span.tooltip:not(.bottom)::after {
	top: 100%;
	border-color: var(--tooltip-bg) transparent transparent transparent;
}

/* Bottom Tooltip */
div.hastooltip > span.tooltip.bottom {
	top: 100%;
	margin-top: 5px;
}

div.hastooltip > span.tooltip.bottom::after {
	bottom: 100%;
	border-color: transparent transparent var(--tooltip-bg) transparent;
}

/* Make tooltip visible */
div.hastooltip:hover > span.tooltip, div.hastooltip:focus > span.tooltip, div.hastooltip:focus-within > span.tooltip, div.hastooltip:target > span.tooltip {
	visibility: visible; opacity: 1;
}
